@{ 
    ViewBag.Title = "关于本站";
}
<hgroup id="top" class="title">
    <h1>关于本站</h1>
</hgroup>

<hr />

<article>

    <h2>简介</h2>

    <br />

<pre>
相传诸神创世之时，分别创造了神之庭院Asgard，人类庭院Midgard，以及绅士之庭GMgard……
=============================↑以上为口胡↑==============================
本站是一个以分享交流各种ACG资源以及交流汉语文化为目的的分享交流平台。大家可以在这里找到各种资源，也欢迎大家将自己的资源上传来与大家分享。目前本站各方面还在逐渐完善中，如果大家对本站的建设有什么好的想法和建议或者发现了网站的Bug欢迎通过<a href="@Url.Action("Suggestions")" class="btn btn-primary btn-mini">意见建议</a>来告诉我们。
在您对网站的某项功能感到疑惑时，请留意该功能区域附近是否带有<i class="icon-question-sign"></i>标记。本站所有<i class="icon-question-sign tooltip-toggle" title="这里是帮助提示=w=" data-placement="top"></i>标记在鼠标移过时都会出现帮助提示。推荐在1024×768以上分辨率下使用最新版Firefox,Chrome,Edge浏览本站，不推荐使用IE以及各种国产浏览器（国产浏览器的一些规格不符合通用标准，会导致使用部分网站功能时出现莫名其妙的错误）。如使用IE浏览遇到问题恕我们不予处理。
在本站的资讯分类中有一些教程类的文章。如果各位绅士遇到一些问题（如投稿的方法，游戏无法运行怎么办之类），建议先去资讯分类查找是否有相关教程，若没有再到群里或贴吧提问。
希望各位绅♂士在绅士之庭玩的开心！
</pre>
</article>
<br />
<aside id="contact" style="border: 2px solid #ccc; border-radius: 5px; padding:0px 5px; margin-top: 50px; width:25%" class="float-right">
    <h3>联系方式</h3>
    <p>
        广告合作，交换友情链接等站务事宜可以直接联系站长，发送消息至管理员信箱或发送邮件至站务Email。
        <br />程序技术问题请联系副站长。
    </p>
    <ul>
        <li><a target="_blank" href="@Url.Action("Msg", new { name = "admin" })" class="btn btn-primary"><i class="icon-envelope icon-white"></i> 管理员信箱</a></li>
        <li><a target="_blank" href="mailto:admin@gmgard.us" class="btn btn-primary"><i class="icon-envelope icon-white"></i> 站务Email</a></li>
        <li>站长：@Html.ActionLink("人间入间", "UserInfo", new { name = "人间入间" })<a target="_blank" href="@Url.Action("Msg", new { name = "人间入间" })" class="btn btn-primary"><i class="icon-envelope icon-white"></i> 站内消息</a></li>
        <li>副站长：@Html.ActionLink("Duo", "UserInfo", new { name = "Duo" })<a target="_blank" href="@Url.Action("Msg", new { name = "Duo" })" class="btn btn-primary"><i class="icon-envelope icon-white"></i> 站内消息</a></li>
        @if (ViewBag.Moderators != null)
        {
            foreach (UserProfile user in ViewBag.Moderators)
            {
                <li>管理员：@Html.ActionLink(user.NickName, "UserInfo", new { name = user.UserName })</li>
            }
        }
    </ul>
</aside>
<div class="clear-fix"></div>
<div id="site-rules">
    <harmony>
        @Html.Raw(ViewBag.Content)
    </harmony>
</div>

@if (User.IsInRole("Administrator"))
{
    <button class="btn" onclick="editrules();" id="editversion">编辑</button>
    <button class="btn" id="canceledit" onclick="canceledit();" style="display:none;">取消</button>
    <script>
        (function (window) {
            let editor;
            let original = $('#site-rules').html();
            function canceledit() {
                if (editor) {
                    editor.destroy();
                    editor = null;
                    $('#site-rules').html(original);
                    $('#canceledit').hide();
                }
            }
            function editrules() {
                if (!editor) {
                    editor = CKEDITOR.replace("site-rules");
                    $('#canceledit').show();
                    return;
                }
                $.post('@Url.Action("EditSiteRules", "Admin")', { data: editor.getData() }, function () {
                    editor.destroy();
                    editor = null;
                    $('#canceledit').hide();
                    original = $('#site-rules').html();
                });
            }
            window.editrules = editrules;
            window.canceledit = canceledit;
        })(window);
    </script>
}

<script>
    $(function () {
        $('.tooltip-toggle').tooltip();
        $('div.spoiler-title').click(function () {
            $(this)
                .toggleClass('show-icon')
                .toggleClass('hide-icon');
            var l = $(this).next();
            l.hasClass('spoiler-content') && l.toggle();
        });
    })
</script>

@section scripts {
    <link href="/ckeditor/plugins/spoiler/css/spoiler.css" rel="stylesheet">
}

@section end_scripts{
    <script src="@JsConstant.CKEditor"></script>
}