@{
    ViewBag.Title = "消息中心";
    string context = ViewBag.DisplayTab;
}
@inject ConstantUtil constUtil

<div id="old-ui" class="hide">
    <div class="navbar">
        <div class="navbar-inner">
        <a class="brand" style="text-decoration: none;cursor:default;">消息中心</a>
        <ul class="nav" id="msgmenu" data-context="@context">
        <li data-context="inbox"><a data-url='@Url.Action("Inbox")'><img src="//static.gmgard.com/Images/inbox.png" /> 收件箱<b id="UnreadCount"></b></a></li>
        <li data-context="outbox"><a data-url='@Url.Action("Outbox")'><img src="//static.gmgard.com/Images/outbox.png" /> 发件箱</a></li>
        <li data-context="write"><a data-url='@Url.Action("Write")'><img src="//static.gmgard.com/Images/write.png" /> 写消息</a></li>
        </ul>
        </div>
    </div>

    <div class="tabcontent">
        <div id="multiview">
        </div>
        <img id="loading" src="//static.gmgard.com/Images/loading.gif" style="display:none;margin:0 auto 100px auto;" />
    </div>
    <button id="use-new" class="btn btn-large">使用新界面（测试）</button>
</div>
<div id="new-ui" class="hide">
    <iframe style="width:100%;border:none;height:1200px" src="@(constUtil.AppHost)/message/@context"></iframe>
    <button id="use-old" class="btn btn-large">使用旧界面</button>
</div>
@section scripts{
    <script>
        function unread(obj) {
            var $t = $(obj);
            $.ajax({
                url: $t.toggleClass('active').attr('href'),
                cache: false,
                success: displayview
            });
            $("#multiview").hide();
            $("#loading").css('display', 'block');
        }
        function selected(obj) {
            var $t = $(obj);
            var posturl = $t.data('url');
            if ($t.hasClass("active"))
                return;
            $('#msgmenu li').removeClass("active");
            $t.addClass("active");
            $.ajax({
                url: posturl,
                cache: false,
                success: displayview
            });
            $("#multiview").hide();
            $("#loading").css('display', 'block');
        }
        function displayview(response) {
            data = response;
            $("#multiview").html(response);
            $('form').removeData('validator');
            $('form').removeData('unobtrusiveValidation');
            if ($.validator) {
                $.validator.unobtrusive.parse('form');
            }
            $("#multiview").show();
            $("#loading").hide();
        }
        function updateval(value) {
            if (value) {
                $('#UnreadCount').text("（" + value + "条未读）");
            }
        }

        function readmsg(id) {
            var msgtitle = document.getElementById('msg' + id);
            if (msgtitle.style.fontWeight != 'inherit') {
                msgtitle.style.fontWeight = 'inherit';
            }
            $.post('@Url.Action("ReadMsg")', { id: id }, onSuccess);
        }
        function getmsg(id) {
            $.post('@Url.Action("GetMsg")', { id: id }, showMsg);
        }
        function onSuccess(message) {
            var label = document.getElementById('UnreadCount');
            if (message.unreadcount > 0)
                label.innerText = "（" + message.unreadcount + "条未读）";
            else
                label.innerText = "";
            showMsg(message);
        }
        function showMsg(message) {
            $("#popuptitle").text((message.MsgTitle && message.MsgTitle.length > 0) ? message.MsgTitle : "无标题");
            var senderLink = document.createElement('a'), recipientLink = document.createElement('a');
            senderLink.href = "/User/" + message.Sender;
            $(senderLink).text(message.SenderNick);
            recipientLink.href = "/User/" + message.Recipient;
            $(recipientLink).text(message.RecipientNick);
            $("#popupsubtitle").empty().append("发件人：", senderLink, " 收件人：", recipientLink);
            var date = new Date(message.MsgDate);
            $("#popuptime").text(date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + ("00" + date.getHours()).slice(-2) + ':' + ("00" + date.getMinutes()).slice(-2) + ':' + ("00" + date.getSeconds()).slice(-2));
            $("#popupcontent").html(message.MsgContent.replace(/\n/g, "<br />").toString());
            $("#msgid").val(message.MsgId);
            $('#popupdiv').modal("show");
        }
        function checkall(ele) {
            $('input[name=op]').prop('checked', ele.checked);
        }
        function initOld() {
            var ctx = $('#msgmenu').data('context') || "inbox";
            var sel = $('#msgmenu li[data-context="' + ctx + '"] a');
            selected(sel[0]); 
        }
        $(function () {
            $('#msgmenu a').click(function () { selected(this) });
            var useOld = localStorage["gmmessageui"] === 'old';
            if (useOld) {
                initOld();
                $('#old-ui').show();
            } else {
                $('#new-ui').show();
            }
            $('#use-old').click(function () {
                localStorage.setItem('gmmessageui', 'old');
                initOld();
                $('#old-ui').show();
                $('#new-ui').hide();
            })
            $('#use-new').click(function () {
                localStorage.setItem('gmmessageui', 'new');
                $('#old-ui').hide();
                $('#new-ui').show();
            })
        })
    </script>
}
@section end_scripts{
    <div id="popupdiv" class="popupdiv pseudos modal hide fade" role="dialog" style="display:none;">
        <div class="modal-header">
            <a data-dismiss="modal" class="close icon-remove-sign"></a>
            <h3 id="popuptitle"></h3>
            <h4 id="popuptime" style="float:right;white-space:nowrap;"></h4>
            <h4 id="popupsubtitle"></h4>
            <form asp-action="MsgAction" asp-controller="Message" method="post" style="margin:0;text-align:right;">
                <input type="hidden" id="msgid" name="msgid" />
                <button class="btn btn-small" type="submit" id="DelButton" name="act" value="delete">删除</button>
                <button class="btn btn-small" type="submit" id="ReplyButton" name="act" value="reply">回复</button>
                <button class="btn btn-small" type="submit" id="ForwardButton" name="act" value="forward">转发</button>
            </form>
        </div>

        <div id="popupcontent" class="modal-body"></div>
    </div>
}