@model Blog
@inject BlogUtil blogUtil
@inject CategoryUtil catUtil
@inject RatingUtil rateUtil
<li>
    @if (ViewBag.CategoryBadge == true)
    {
        int parentId = catUtil.GetParentCategoryId(Model.CategoryID).GetValueOrDefault(Model.CategoryID);
        <div class="badge bottom">
            <harmony>
                @if (ViewBag.AncestorBadge == true)
                {
                    @catUtil.categoryInfo(catUtil.GetAncestor(parentId))
                }
                else if (parentId == ViewBag.CategoryId)
                {
                    @catUtil.categoryInfo(Model.CategoryID)
                }
                else
                {
                    @catUtil.categoryInfo(parentId)
                }
            </harmony>
            <harmony show="true">
                @catUtil.categoryInfo(catUtil.GetAncestor(parentId))
            </harmony>
        </div>
    }
    @if (Model.isApproved != true)
    {
        <div title="未审核" class="unpromark badge warning bottom right"><i class="icon-eye-close icon-white ico"></i></div>
    }
    <div class="badge">
        评分：@(Model.Rating ?? rateUtil.GetRating(Model.BlogID).Total)
    </div>
    <a class="listlink" target="_blank" href="@Url.Action("Details", "Blog", new {id = Model.BlogID})">
        <div class="icon">
            <div class="imgcenter">
                <img class="img-small" alt="@Model.BlogTitle" src="@BlogHelper.firstImgPath(Model, true)" data-src="@BlogHelper.firstImgPath(Model)" />
                <img class="img-large" alt="@Model.BlogTitle" src="@BlogHelper.firstImgPath(Model)" />
            </div>
        </div>
        <div class="data">
            <h4>
                @Model.BlogTitle
            </h4>
            <p> @blogUtil.GetFirstLine(Model, true)</p>
            <strong>投稿：@blogUtil.GetNickName(Model.Author)</strong>
            <br />
            &nbsp;<span class="lfoot"><i class="icon-eye-open ico"></i> @Model.BlogVisit</span><span class="lfoot"><i class="icon-comment ico"></i> @blogUtil.GetPostCount(Model)</span>
        </div>
    </a>
</li>